<!doctype html>
<html lang="ko">
  <head>
    <title>에몽 - 마켓에몽</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="header.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/js/header.js"></script>
  </head>
  <style>
    nav.active {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  </style>
  <body>
    <header class="w-screen bg-white">
      <div class="header m-auto w-3/4 max-w-7xl">
        <div class="user-menu flex items-center justify-end gap-4 pt-1 text-12pxr">
          <!-- 회원가입 -->
          <div class="hover:text-bluemong">
            <a href="/">회원가입</a>
          </div>
          <!-- 로그인 -->
          <div class="hover:text-bluemong">
            <a href="/" class="login-before">로그인</a>
              <!-- 로그인 후 보이기 -->
            <a href="/" class="login-after hidden">
              <span class="ico_grade grade0">일반</span>
              <span class="txt">
              <span class="name"></span>
              <span class="sir">님</span>
            </a>
            <ul class="login-list hidden">
              <li>
                <a href="/" class="list_item">주문 내역</a>
              </li>
              <li>
                <a href="#" class="list_item">배송지 관리</a>
              </li>
              <li>
                <a href="/" class="list_item">개인 정보 수정</a>
              </li>
              <li>
                <a href="/" class="list_item">로그아웃</a>
              </li>
            </ul>
          </div>
          <!-- 고객센터 -->
          <div class="user-info relative ">
            <p class="flex gap-1 hover:text-bluemong">
              <a href="/">고객센터</a>
              <img src="/src/assets/ic-down.svg" alt="고객센터" /> 
            </p>
            <!-- 고객센터 hover 시 sub_menu 등장 -->
            <ul class="info-list invisible absolute z-50 w-24 border p-2">
              <li class=" bg-white hover:text-bluemong">
                <a href="/">공지사항</a>
              </li>
              <li class=" bg-white hover:text-bluemong">
                <a href="/">자주하는 질문</a>
              </li>
              <li class=" bg-white hover:text-bluemong">
                <a href="/">1:1 문의</a>
              </li>
            </ul>
          </div> 
        </div>

        <div class="header-gnb flex items-center justify-between py-6">
          <!-- 로고 -->
          <div class="flex items-center gap-x-4">
            <h1 class="header-logo w-24">
              <img src="/logo-emong.png" alt="마켓에몽 로고" />
            </h1>
            <a
              href="/index.html"
              class="text-18pxr text-bluemong transition-all hover:font-bold"
              >마켓에몽
            </a>
          </div>
          <!-- 검색창 -->
          <div class="gnb-search">
            <form action="/" class="flex items-center">
              <input
                type="search"
                name="search"
                id="search"
                placeholder="검색어를 입력해주세요"
                \
                class="w-96 rounded-lg border border-skybluemong p-2 outline-none"
              />
              <button type="submit" class="search-button -translate-x-10">
                <img src="/src/assets/ic-search.svg" alt="검색" />
              </button>
            </form>
          </div>
          <!-- 배송지, 찜, 장바구니 아이콘 -->
          <div>
            <ul class="flex gap-4">
              <li>
                <button type="button">
                  <img src="/src/assets/ic-location.svg" alt="" />
                </button>
              </li>
              <li>
                <a href="/">
                  <img src="/src/assets/ic-heart.svg" alt="" />
                </a>
              </li>
              <li class="relative">
                <a href="/">
                  <img src="/src/assets/ic-cart.svg" alt="" />
                  <span
                    class="absolute -right-1 top-0 h-4 w-4 rounded-full bg-bluemong text-center text-xs leading-4 text-white"
                    >1</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <nav class="bg-white shadow-md py-2">
      <div class="nav flex items-center justify-between m-auto w-3/4 max-w-7xl">
        <!-- 카테고리 (list) -->
        <div class="header-category">
          <a href="/" class="category-main gap-1 px-2 relative flex cursor-pointer items-center transition-all hover:text-bluemong">
            <img src="/src/assets/ic-hamburger.png" alt="카테고리" class="w-38pxr"/>
            <span> 카테고리 </span>
          </a>
          <ul class="category-list invisible absolute bg-white mt-2 text-sm z-50">
            <li class="px-3 py-2 transition-all hover:bg-gray-100 hover:text-bluemong">
              <a href="/" class="flex items-center gap-2">
                <img
                src="/src/assets/ic-gift.png"
                alt=""
                class="w-8"
              />선물하기
              </a>
            </li>
            <li class="px-3 py-2 transition-all hover:bg-gray-100 hover:text-bluemong">
              <a href="/" class="flex items-center gap-2">
                <img
                src="/src/assets/ic-character.png"
                alt=""
                class="w-8"
              />캐릭터
              </a>
            </li>
            <li class="px-3 py-2 transition-all hover:bg-gray-100 hover:text-bluemong">
              <a href="/" class="flex items-center gap-2">
                <img
                src="/src/assets/ic-tool.png"
                alt=""
                class="w-8"
              />도구
              </a>
            </li>
          </ul>
        </div>
        <!-- 신상품 ~ 특가/혜택 -->
        <div class="header-nav">
          <ul class="flex justify-between gap-20 w-full">
            <li class="transition-all hover:text-bluemong">
              <a href="/">신상품</a>
            </li>
            <li class="transition-all hover:text-bluemong">
              <a href="/">베스트</a>
            </li>
            <li class="transition-all hover:text-bluemong">
              <a href="/">알뜰쇼핑</a>
            </li>
            <li class="transition-all hover:text-bluemong">
              <a href="/">특가/혜택</a>
            </li>
          </ul>
        </div>
        <!-- 스크롤 전 display:none -->
        <div class="sub-search hidden">
          <form action="/" class="flex items-center">
            <input
              type="search"
              name="search"
              id="search"
              placeholder="검색어를 입력해주세요"
              \
              class="w-72 rounded-lg p-2 text-13pxr outline-none relative border border-skybluemong "
            />
            <button type="submit" class="search-button -translate-x-10">
              <img src="/src/assets/ic-search.svg" alt="검색" />
            </button>
          </form>
        </div>
        <div class="sub-cart hidden">
          <ul class="flex items-center gap-2">
            <li>
              <a href="/">
                <img src="/src/assets/ic-location.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="/">
                <img src="/src/assets/ic-heart.svg" alt="" />
              </a>
            </li>
            <li class="relative">
              <a href="/">
                <img src="/src/assets/ic-cart.svg" alt="" />
                <span
                  class="absolute -right-1 top-0 h-4 w-4 rounded-full  bg-bluemong text-center text-xs leading-  text-white"
                  >1</span
                >
              </a>
            </li>
          </ul>
        </div>
        <!-- 배송안내 스크롤 후 display:none -->
        <div class="sub-notice rounded-3xl border border-skybluemong px-2">
          <a href="/" class="text-13pxr text-gray-500"
            ><span class="mr-1 text-bluemong">미래</span>배송안내</a
          >
        </div>
      </div>
    </nav>

  </body>
</html>
