  <style>
    nav.active {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  </style>
  <body>
    <!-- top banner -->
    <div class="header-topbanner w-full bg-bluemong py-2">
      <div class="flex w-[1050px] items-center text-white justify-center gap-5 m-auto">
        <a href="/">
          <span>지금 가입하고 인기상품</span>
          <strong>100</strong>
          <span>원에 받아가세요</span>
        </a>
        <button type="button" class="banner-close"><img src="/assets/header/ic-delete.svg" alt="닫기" /></button>
      </div>
    </div>

    <header class="w-full bg-white">
      <div class="header m-auto w-[1050px]">
        <div class="user-menu flex items-center justify-end gap-4 pt-1 text-12pxr">
          <!-- 회원가입 -->
          <div class="hover:text-bluemong">
            <a href="/src/pages/signUp/">회원가입</a>
          </div>
          <!-- 로그인 -->
          <div class="hover:text-bluemong">
            <a href="/src/pages/login/" class="login-before">로그인</a>
              <!-- 로그인 후 보이기 -->
            <a href="/" class="login-after hidden">
              <span class="ico_grade grade0">일반</span>
              <span class="txt">
              <span class="name"></span>
              <span class="sir">님</span>
            </a>
            <ul class="login-list hidden">
              <li>
                <a href="/" class="list_item">주문 내역</a>
              </li>
              <li>
                <a href="#" class="list_item">배송지 관리</a>
              </li>
              <li>
                <a href="/" class="list_item">개인 정보 수정</a>
              </li>
              <li>
                <a href="/" class="list_item">로그아웃</a>
              </li>
            </ul>
          </div>
          <!-- 고객센터 -->
          <div class="user-info relative ">
            <p class="flex gap-1 hover:text-bluemong">
              <a href="/">고객센터</a>
              <img src="/assets/header/ic-down.svg" alt="고객센터" /> 
            </p>
            <!-- 고객센터 hover 시 sub_menu 등장 -->
            <ul class="info-list invisible absolute z-50 w-24 border p-2 bg-white">
              <li class=" hover:text-bluemong">
                <a href="/">공지사항</a>
              </li>
              <li class=" hover:text-bluemong">
                <a href="/">자주하는 질문</a>
              </li>
              <li class=" hover:text-bluemong">
                <a href="/">1:1 문의</a>
              </li>
            </ul>
          </div> 
        </div>

        <div class="header-gnb flex items-center justify-between py-6">
          <!-- 로고 -->
          <div class="w-36">
            <a
              href="/index.html"
              >
              <img src="/assets/header/logo-emong.png" alt="마켓에몽 로고" />
            </a>
          </div>
          <!-- 검색창 -->
          <div class="gnb-search">
            <form action="/" class="flex items-center">
              <label for="search" class="sr-only">검색</label>
              <input
                type="search"
                name="search"
                id="search"
                placeholder="검색어를 입력해주세요"
                \
                class="w-96 rounded-lg border border-skybluemong p-2 outline-none"
              />
              <button type="submit" class="search-button -translate-x-10">
                <img src="/assets/header/ic-search.svg" alt="검색" />
              </button>
            </form>
          </div>
          <!-- 배송지, 찜, 장바구니 아이콘 -->
          <div class="flex gap-2"> 
            <button type="button" aria-label="배송지" class="bg-location-icon h-10 w-10 bg-cover bg-center bg-no-repeat">
            </button>

            <a href="/" aria-label="찜하기" class="bg-heart-icon h-10 w-10 bg-cover bg-center bg-no-repeat">
            </a>

            <a href="/src/pages/cart/" aria-label="장바구니" class="h-10 w-10 bg-cart-icon bg-cover bg-center bg-no-repeat relative">
            </a>
            <!-- <span
                class="absolute -right-1 top-0 h-4 w-4 rounded-full bg-bluemong text-center text-xs leading-4 text-white"
                >1</span> -->
          </div>
        </div>
      </div>
    </header>

    <nav class="w-full bg-white shadow-md h-12">
      <div class="nav flex items-center justify-between m-auto w-[1050px] ">
        <!-- 카테고리 (list) -->
        <div class="header-category">
          <a href="/" class="category-main h-12 gap-1 px-2 relative flex cursor-pointer items-center transition-all hover:text-bluemong">
            <img src="/assets/header/ic-hamburger.png" alt="카테고리" class="w-38pxr"/>
            <span> 카테고리 </span>
          </a>
          <ul class="category-list invisible absolute bg-white text-sm z-50">
            <li class="px-3 py-2 transition-all hover:bg-gray-100 hover:text-bluemong">
              <a href="/" class="flex items-center gap-2">
                <img
                src="/assets/header/ic-gift.png"
                alt=""
                class="w-8"
              />선물하기
              </a>
            </li>
            <li class="px-3 py-2 transition-all hover:bg-gray-100 hover:text-bluemong">
              <a href="/" class="flex items-center gap-2">
                <img
                src="/assets/header/ic-character.png"
                alt=""
                class="w-8"
              />캐릭터
              </a>
            </li>
            <li class="px-3 py-2 transition-all hover:bg-gray-100 hover:text-bluemong">
              <a href="/" class="flex items-center gap-2">
                <img
                src="/assets/header/ic-tool.png"
                alt=""
                class="w-8"
              />도구
              </a>
            </li>
          </ul>
        </div>
        <!-- 신상품 ~ 특가/혜택 -->
        <div class="header-nav">
          <ul class="flex justify-between gap-20 w-full">
            <li class="transition-all hover:text-bluemong">
              <a href="/src/pages/productList/#-created">신상품</a>
            </li>
            <li class="transition-all hover:text-bluemong">
              <a href="/src/pages/productList/#-recommend">베스트</a>
            </li>
            <li class="transition-all hover:text-bluemong">
              <a href="/">알뜰쇼핑</a>
            </li>
            <li class="transition-all hover:text-bluemong">
              <a href="/">특가/혜택</a>
            </li>
          </ul>
        </div>
        <!-- 스크롤 전 display:none -->
        <div class="sub-search hidden">
          <form action="/" class="flex items-center">
            <label for="search" class="sr-only">검색</label>
            <input
              type="search"
              name="search"
              id="search-nav"
              placeholder="검색어를 입력해주세요"
              \
              class="w-64 rounded-lg p-2 text-13pxr outline-none relative border border-skybluemong "
            />
            <button type="submit" class="search-button -translate-x-10">
              <img src="/assets/header/ic-search.svg" alt="검색" />
            </button>
          </form>
        </div>
        <div class="sub-cart hidden">
          <div class="flex gap-2"> 
            <button type="button" aria-label="배송지" class="bg-location-icon h-10 w-10 bg-cover bg-center bg-no-repeat">
            </button>

            <a href="/" aria-label="찜하기" class="bg-heart-icon h-10 w-10 bg-cover bg-center bg-no-repeat">
            </a>

            <a href="/src/pages/cart/" aria-label="장바구니" class="h-10 w-10 bg-cart-icon bg-cover bg-center bg-no-repeat relative">
            </a>
            <!-- <span
                class="absolute -right-1 top-0 h-4 w-4 rounded-full bg-bluemong text-center text-xs leading-4 text-white"
                >1</span> -->
          </div>
        </div>
        
        <!-- 배송안내 스크롤 후 display:none -->
        <div class="sub-notice leading-6 rounded-3xl border border-skybluemong px-2">
          <a href="/" class="text-13pxr text-gray-600"
            ><strong class="mr-1 text-bluemong">미래</strong>배송안내</a
          >
        </div>
      </div>
    </nav>

  </body>
