<!doctype html>
<html lang="en">
  <head>
    <title>최근 본 상품</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/js/recently.js"></script>
  </head>
  <body>
    <!-- 최근본 상품 -->
    <div
      class="recently-swiper z-50 float-right max-h-223pxr w-78pxr -translate-x-40pxr translate-y-100pxr flex-col overflow-hidden border-2 border-gray-200 bg-white px-6pxr py-24pxr text-center"
    >
      <span class="my-8pxr block text-12pxr font-[600]">최근 본 상품</span>
      <div class="swiper recently-container">
        <ul class="swiper-wrapper recently-wrapper h-130pxr"></ul>
      </div>
      <div
        class="swiper-button-prev recently-prev bg-current-bottom lock absolute h-18pxr w-18pxr translate-x-17pxr translate-y-110pxr bg-no-repeat after:hidden"
      ></div>
      <div
        class="swiper-button-next recently-next bg-current-top h-18pxr w-18pxr -translate-x-20pxr -translate-y-80pxr bg-no-repeat after:hidden"
      ></div>
    </div>
  </body>
</html>
